.DS_Store
Mod04 Tarefa aulas 06 a 08.ipynb
Mod4Aula4 - Operacoes com dataframe.ipynb
Mod4Aula6 - Leitura de arquivos CSV, Excel, JSON-v2.ipynb
Mod4Aula7 - Interagindo com APIs da Web.ipynb
Mod4Aula8 - Salvando arquivos.ipynb
mod06 aula 03 Gr†fico de barra.ipynb
mod06 aula 04 - univariada cont°nuas.ipynb
mod06 aula02 Introduá∆o ao matplotlib.ipynb
mod06 tarefa 1.ipynb
Tarefa 2/application_record.csv
Tarefa 2/pagamentos_largo.csv
Tarefa1/Estrutura_SINASC_para_CD.pdf
mod06 aula06 vari†veis cont°nuas.ipynb
mod06 aula05 Gr†fico de barras com duas entradas.ipynb
Modulo 6/mod06 Tarefa 2.ipynb
Modulo 6/mod06 Tarefa 3.ipynb
MODULO 7/Mod7Aula3 - Melhor valor e vari†vel pra quebra.ipynb
MODULO 7/Mod7Aula4 - Melhor valor pra quebra vari†vel cont°nua.ipynb
MODULO 7/Mod7Aula5 - Overfitting.ipynb
MODULO 7/Mod7Aula6 - Overfitting, treino e teste.ipynb
MODULO 7/Mod7Aula7 - Pre pruning.ipynb
MODULO 7/Mod 07 - Tarefa 02.ipynb
MODULO 7/Mod07 - Tarefa 01.ipynb
MODULO 9/Mod9Aula1 - introducao.ipynb
MODULO 9/Mod9Aula2 - Exemplos base real.ipynb
MODULO 9/Mod9Aula3 - Metodo aggregate.ipynb
MODULO 9/Mod9Aula4 - Metodo apply do groupby.ipynb
